body{
background:url(https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcjFzNm44aDFweHh3NnZ4c3JqbmduY2oxcTN3M3Y4N2E1c2s0NHN2dSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vbmbi3SbYkgX1MkvMy/giphy.gif);
background-size: 100%;
text-align: center;
word-spacing: 5px;
}